@charset "UTF-8";

body, p {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-wrap: wrap;
    background-color: black;

}

.div1, img {
    flex: 1;
    height: 100%;
    max-width: 800px;
}

.div2 {
    flex: 1;
    color: #fff;
    
}

#principal {
    text-align: left;
    color: #FFA500;
    font-size: 30px;
    max-width: 500px;
    margin-left: 150px;
    margin-top: 40px;
    flex-wrap: wrap;
}

#p1 {
    text-align: left;
    font-size: 25px;
    max-width: 500px;
    margin-left: 150px;
}

.area-login {
    display: flex;
    height: 300px;
    align-items: center;
    margin-left: 150px;
    margin-top: 130px;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #181920;
    border-radius: 10px;
    width: 355px;
    height: 320px;
    padding: 35px;
}

.login form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login input {
    margin-top: 10px;
    background-color: #252A34;
    color: #cbd0f7;
    border: none;
    height: 45px;
    outline: none;
    border-radius: 8px;
    padding-left: 10px;
}

.login input::placeholder {
    color: #cbd0f7;
    font-size: 14px
}